body{

background-color: lightgrey;

color: indigo;

padding: auto;

border-radius: 8px;

font-family: "SansSerif", default, sans-serif;

text-align: center;

}

.site_header{

height: 210px;

margin: 7px 7px 0;

border: 3px solid darkblue;

background: bisque;

display: flex;

align-items: center;

justify-content: space-between;

padding: 16px 3.5%;


}

img{

animation: girar 2s linear infinite;

}

@keyframes girar{

from{transform: rotate(0deg);}

to{transform: rotate(360deg);}

}

table{

border: 5px dashed rgb(255, 0, 0);

border-collapse: collapse;

width: 25%;

margin: 0 auto;

}

th, td{

color: red;

border: 4px double rgb(255, 0, 0);

padding: 6px;

text-align: center;

}

.text_fah {

color: black;

}

.titulo{

color: black;

}

.main-nav{

height: 67px;

margin: 0 7px;

background: lightblue;

display: flex;

align-items: center;

justify-content: center;

gap: 145px;

}

.main-nav a{

color: darkred;

text-decoration: none;

font-weight: bold;

}

.h1{

color: darkgreen;

}

.h2{

background-color: white;

color: black;

}

.h3{

color: black;

font-family: "Comic Sans MS", "Comic Sans", cursive;

}


.div_margin1{

margin-right: 35px;

}

.div_margin2{

margin-left: 35px;

}

.div_img{

border: 2px, solid, blue; 

background-color: bisque;

color: green;

}

.site_footer{

height: 105px;

margin: 7px 7px 0;

background: bisque;

display: flex;

align-items: center;

justify-content: space-between;

padding: 16px 3.5%;

}

.resources{

width: 610px;

margin: 0 auto 20px;

margin-top: 20px;

padding: 6px 13px;

background: yellow;

font: 14px Arial;

text-align: left;

}

.resources span{

display: block;

margin: 4px;
    
}

.resources ul{

margin: 0;

padding-left: 22px;
    
}

.resources a{

margin-left: 45px; 

color: darkred;

font-weight: bold;
   
}