.container{

display: grid;

grid-template-columns: auto auto auto;

background-color: fuchsia;

padding: 6px;

gap: 7px;

grid-template-areas: 

'header header header header header header'

'menu main main main main right'

'menu footer footer footer footer right';

}

.item1{

grid-area: header;

}

.item2{

grid-area: menu;

}

.item3{

grid-area: main;

}

.item4{

grid-area: right;

}

.item5{

grid-area: footer;

}

.container_div{

background-color: lightyellow;

color: white;

padding: 6px;

font-size: 30px;

text-align: center;

}

@media (max-width: 800px) {
    
.flex-container{

display: flex;

background-color: blueviolet;

flex-direction: row;

flex-wrap: wrap-reverse;

flex-flow: column wrap;

flex-direction: column;

justify-content: flex-end;

height: 400px;

align-content: space-between;

align-items: baseline;

column-gap: 20px;


}

}

.flex-container div{

background-color: black;

margin: 10px;

padding: 20px;

font-size: 30px;

width: 50px;

text-align: center;

}















